.imagenes {
    transition: all .5s ease-in-out;
    object-fit: cover;
}

.imagenes:hover {
    transform: scale(1.08);
}

.sale {
    transition: all .3s ease-in-out;
}

.sale:hover {
    box-shadow: 0 0 10px 4px #ffffff33;
}

.title {
    letter-spacing: 6px;
}

.side {
    box-shadow: 0 0 10px #ffffff31;
}

.swiper {
    height: 100%;
    z-index: 10;
    position: relative;
}

.swiper-slide {
    height: 90%;
    display: flex !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff !important;
    background-color: black;
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 20px !important;
}

.swiper-pagination {
    display: none;
}


.swiper-wrapper {
    align-items: center;
    column-gap: 2.5%;
}

.footer-menu {
    transition: all .3s ease-in-out;
}

.footer-menu:hover {
    color: black
}

.rrss {
    transition: all .3s ease-in-out;
}

.rrss:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px 4px #00000050;
}

.mariano {
    transition: all .3s ease-in-out;
}

.mariano:hover {
    background-color: black;
    color: white;
}