/* .title {
    font-family: 'Oswald', sans-serif;
} */

.hover {
    transition: all .3s ease-in-out;
}

.hover:hover {
    color: #0b0e2b;
    background-color: #ffffff;
}

.buscador {
    box-shadow: -1px 1px 2px 1px #3d3d3d82;
}

.user {
    transition: all .3s ease-in-out;
}

.user:hover {
    color: rgb(47, 47, 47);
    background-color: #ffffff;
}